@font-face{
  font-family: 'SF-bold';
  src: url('../fonts/SF-UI-Text-Heavy.ttf');
  font-weight: bold;
}
@font-face{
  font-family: 'SF-medium';
  src: url('../fonts/SF-UI-Text-Medium.ttf');
}
@font-face{
  font-family: 'RUB';
  src: url('../fonts/RUBSN.otf');
  font-weight: bold;
}
@font-face{
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome.otf');
  font-weight: bold;
}
html, body {
    height: 100%;
    margin: 0;

}

/* Make each section 100% of the browser viewport height */

section { 
  height: 100vh;
  background-color: #EFF3F7;
  position: relative;
}
section#three{
  height: auto;
}
section svg {
    display: block;
    width: 100%;
    height: 100%;
}
.svg-con{
      position: absolute;
    bottom: 0;
}
.container{
  height: 100%;
  position: relative;
}
section#two {
  background-color: #627181;
  color: white;
}
section#three svg{
  position: relative;
}

#one .wrap{
  position: absolute;
      top: 23%;
      left: 10%;
}
.price{
  font-family: 'SF-bold';
  font-size: 18vh;
  color: #EC6D61;
  position: relative;
  padding-right: 145px;
    margin-bottom: 25px;
}

.price:before{
  content: '';
  display: block;
  width: 200px;
  bottom: 0;
  left: 20px;
  position: absolute;
  border-bottom: solid #EC6D61 8px;
}

.price:after{
  content: '';
    display: block;
    background: url(../img/arrow.png) no-repeat;
width: 14vh;
    bottom: 30%;
    height:8vh;
    right: 0;
    background-size: contain;
    position: absolute;
}

.work-types{
color: #333333;
}

.rub{
    font-family: 'RUB';
}


.work-types{
  font-family: 'SF-medium';
  font-size: 5vh;
  text-align: left;
}

#two .one-hour, .any-spec {
    font-size: 6.5vh;
    font-family: 'SF-bold';
    text-transform: uppercase;
    line-height: 6vh;
}


#two .one-hour{
max-width: 40vh;
  position: absolute;
  top:18vh;
  left: 58%;
}

.any-spec{
    position: absolute;
    bottom: 30vh;
    left: 8%;
}
    

.spec1,.spec2,.spec3,.spec4{
font-size: 3vh;
margin-bottom: 1vh;
  font-family: 'SF-medium';
  color:#333;
}
.spec-wrap{
  position: absolute;
  bottom: 0;
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;

}
.spec1{
text-align: left;
    padding-left: 23vh;
}
.spec2{ 
text-align: right;
padding-right: 28vh;
}
.spec3{
text-align: left;
    padding-left: 22vh;
 
}
.spec4{
text-align: right;  
    padding-right: 16vh;
}


#three{
  text-align: center;
}



#three .wrap{
  position: relative;
}

#three .one-hour{
    font-family: 'SF-bold';
    font-size: 30px;
    text-transform: uppercase;
    position: absolute;
    color: #000;
    left: 47%;
    top: 6.5%;
    width: 95px;
    line-height: 28px;
}

#three .first-svg{
  height: auto;
  width: 90%;
  margin:0 auto;
}
#three .second-svg{
  position: absolute;
  height: 100%;
   width: 90%;
 left:5%;
}
.second-svg-wrap{
  height: 100%;
  position: relative;
}
#circle{
  width:250px;
    position: absolute;
      top: 13%;

    left: 39%;
}

#three .fixed-part{
  height: 200px;
  position:relative;
  z-index: 2;
  
}

.fixed-part .program,.fixed-part .html,.fixed-part .content,.fixed-part .design, .spec-1c,  .system{
  height: 170px;
  background-color: #fff;
 text-align: center;

}
.title{
   color: #000;
 font-weight: bold;
 font-size: 22px;
 margin-top: 10px;
 text-transform: uppercase;
}

.fixed-part .program img,.fixed-part  .html img,.fixed-part .content img,.fixed-part .design img, .spec-1c img, .system img{
  height: 60%;
  margin-top: 15px;
}

.fixed-part .program{
	position: absolute;
    left: 0;
    top: 5%;
}
.fixed-part .html{
	    position: absolute;
     left: 28%;
    top: 35%;
}
.fixed-part .content{
	  position: absolute;
    left: 55%;
    top: 10%;
}
.fixed-part .design{
	    position: absolute;
    right: 0;
    top: 45%;
}
.third-wrap{
  width: 100%;
  font-size: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 108px;
}
.work-block{
  margin-top: 80px;
  color:#000;
 display: block;
 padding: 10px;
 font-size: 16px;
font-family: 'SF-medium';
 position: relative;
 background-color: #fff;
}

.third-wrap .program,.third-wrap .html,.third-wrap .content,.third-wrap .design{
  display: inline-block;
  position: relative;
  width: 20%;
 }

.check{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border:3px solid #D5D8DB;
  display: block;
  margin: 0 auto;
  position: relative;
  transition: border 1s;

}
.green .check{
  border: 3px solid #5CD670;
}

.check:after{
  content: '\f00c';
  font-family: FontAwesome;
  position: absolute;
  color: #D5D8DB;
  font-size: 40px;
  left: 20%;
  top: 7%;
  transition: color 1s ;

}

.green .check:after{
  color:#5CD670;
}

.more-spec{
  margin-bottom: 50px;
  border-top: 15px solid #627181;
  border-bottom:  15px solid #627181;
  background-color: #fff; 
  padding: 30px 0;
  z-index: 2;
  overflow-y: hidden;
  height: 260px;
}
.more-spec .text{
  width: 57%;
  display: inline-block;
  text-align: left;
}
.more-spec .spec{
  width: 40%;
  display: flex;
  justify-content: space-between;

}
.more-spec .head{
   font-size: 40px;
   font-family: 'SF-bold';
   color:#627181;  
   margin-bottom: 15px;
}

.more-spec .descr{
   font-size: 20px;
   font-family: 'SF-medium';
   color: #000;
}

.more-spec .intro.first{
    transform: translateY(0px);
  transition: 1s;
     display: flex;
  justify-content: space-between;
  padding:0 20px;
}
.more-spec .intro.second{
  transform: translateY(200px);
  transition: 1s;
  font-size: 40px;
   font-family: 'SF-bold';
}
.descr-sm{
display: none;
}
.spec-1c, .system{
  display: inline-block;
}


.our-skills{
   font-size: 60px;
    line-height: 55px;
   font-family: 'SF-bold';
   color:#EC6D61;
   text-transform: uppercase;  
   margin: 50px 0;
}
#five {
  height: 100%;
}
#five .wrap{
  display: flex;
  justify-content: space-between;
}
.sertificate{
  width: 18%;
  display: inline-block;
  border: 15px solid #D5D8DB;
  position: relative;
}

.sertificate:before{
  content: '';
  display: block;
  position: absolute;
  left:-10px;
  top: -10px;
  width: 42px;
  height: 42px;
  background: url(../img/star.png) no-repeat center;
}
.sertificate img{
  width:100%;
}

