@font-face{
  font-family: 'SF-bold';
  src: url('../sf/SF-UI-Text-Heavy.ttf');
  font-weight: bold;
}
html, body {
    height: 100%;
    margin: 0;

}
/* Make each section 100% of the browser viewport height */
section {
    height: 100%;
    color: white;
    position: relative;
    text-align: center;
}

section#one { background-color: #EFF3F7; }
section#two { background-color: #627181}
section#three { background-color: green}
section#four { background-color:  magenta }

#one .wrap{
  position: absolute;
}
.price{
  font-family: 'SF';
  font-size: 50px;
  color: #EC6D61;

}
.work-types{
color: #333333;
}
